<!DOCTYPE html>
<html lang="en">
<head>
  <title>Data IP List</title>
  <link href="/img/ee-logo.ico" name="favicon" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/data-lab.js"></script>


<script type="text/javascript">

</script>
</head>
<body onload="getCurrent();">

  <!-- Navigation -->
  <nav id="mainNav" class="navbar navbar-default navbar-custom">
    <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand" href="#"><img src="/img/ee-logo.png" width="30"></img></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li class="hidden">
                      <a href="#page-top"></a>
                  </li>
                  <li class="page-scroll">
                      <a href="https://docs.google.com/document/d/13h57c76whjAxqPNNzFVvGFAXohjAFuBByB2yCiVsHW4" target="_blank">Pez Docs</a>
                  </li>
                  <li class="page-scroll">
                      <a href="https://github.com/pivotal-gss/gss-data-lab-wiki" target="_blank">Data Wiki</a>
                  </li>
                  <li class="page-scroll">
                      <a href="https://discuss.pivotal.io/hc/en-us/articles/217782717" target="_blank">KB Article</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div><!--/.container-fluid -->
  </nav>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div id="IPTABLESTATUS"></div>
    </div> <!-- END COLUMN -->
  </div> <!-- END ROW -->
</div> <!-- END CONTAINER -->

</body>
<footer>
</footer>
</html>